body {
    font-family: sans-serif;
    margin: 20px 40px 40px 40px;
    max-width: 700px;
}

html {
  font-family: 'Titillium Web';
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4rem;
  box-sizing: border-box;
}

/* Resize headings (smaller than default) */
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
h3 {
  font-size: 1.15rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}
strong {
  font-weight: 600;
}

#id {

}

.class {

}

.gastroll {
    font-family: 'Retro Gastroll', sans-serif;
}
.apptitle {
  font-size: 2rem;
  line-height: 2.1rem;
  text-align: center;
  font-family: 'Retro Gastroll', sans-serif;

}

a:link { color: #ff8a00 }
a:visited { color: #ff8a00 }
a:hover { color: #fff; background-color: #ff8a00 }
